* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div {
    background-color: #eee;
    margin: calc(50vh - 100px) auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
}

div::before {
    content: " ";
    background-color : #fff ; 
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid;
    margin-left: -10px;
    border-color: #E91E63  #E91E63 #E91E63 transparent;
    z-index: -1;
}

div::after {
    content: " ";
    background-color : #fff ; 
    position: absolute;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 10px solid;
    margin-left: -20px;
    border-color: #2196F3 transparent #2196F3 #2196F3 ;
    z-index: -2;
}