p {
  background-color: #DDDDDD;
  padding: inherit;
  border:  inherit;
}

div {
  padding: 20px;
  margin: 10px 10px;
  width: fit-content;
}

.first {
  border: 5px solid red;
}
.sec {
    border:  5px solid green;
}
