div {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    color: white;
    background-image: url(../test.png);
}

.assign-3-shape-1 {
    background-repeat: no-repeat;
}

.assign-3-shape-2 {
    transform: rotate(180deg);
    background-repeat: repeat-y;
}

.assign-3-shape-3 {
    transform: rotate(180deg);
    background-repeat: repeat-x;
}