div {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    color: rgb(255, 255, 255);
    background-image: url(../test.png);
}

.assign-2-shape-1 {
    background-repeat: no-repeat;
}

.assign-2-shape-2 {
    background-repeat: repeat-y;
}

.assign-2-shape-3 {
    background-repeat: repeat-x;
}
