div {
    background-color: #dedede;
    float: left;
    width: 800px;
    text-align: center;
    font-weight: 500;
}

div div {
    background-color: #8c8c8c;
    margin-bottom: 15px;
    margin-left: 15px;
    padding: 15px 0;
}

.full {
    width: calc(100% - 30px );
    margin-top: 15px;
}

.float-3 {
    width: calc((100% - 60px)/3);
}

.float-2 {
    width: calc((100% - 45px)/2);
}

.float-4 {
    width: calc((100% - 75px)/4);
}

.clear {
    clear: both;
}