div {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    color: white;

    background-color: rgb(138, 43, 226);
    background-color: hsl(271, 76%, 53%) ;
    background-color: #8a2be2;
}

.assign-1-shape-2 {
    background-color: rgb(138, 43, 226 , 50%);
}

.assign-1-shape-3 {
    background-color: hsl(271, 76%, 53% , 10%) ;
}