div {
    background-color: #c0bcbc;
    color: black;
    padding: 20px;
    margin: 20px;
    display: inline-block ;
    outline: 5px solid black;
}

.shape-1 {
    border: 5px solid red;
}

.shape-2 {
    border: 5px solid;
    border-color: blue green;
}

.shape-3 {
    border: 5px dashed;
    border-color: red green blue yellow ;
}